version: "3.9"

services:
  frontend-dev:
    build:
      context: .
      target: dev
    container_name: push-admin-frontend-dev
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev
    environment:
      - CHOKIDAR_USEPOLLING=true

  frontend-prod:
    build:
      context: .
      target: prod
    container_name: push-admin-frontend-prod
    ports:
      - "3030:80"
