version: '3.9'

services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: pushdb
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5
      timeout: 5s

  server:
    build: .
    restart: always
    depends_on:
      db:
        condition: service_healthy
    environment:
      NODE_ENV: development
      PORT: 3000
      ALLOWED_ORIGINS: http://localhost:8081,exp://192.168.1.100:8081
      DATABASE_URL: postgresql://postgres:123456@db:5432/pushdb
    ports:
      - "3000:3000"
    command: sh -c "npx prisma db push && npm start"

volumes:
  pgdata:
